img{
    width: 200px;
    height: 200px;
}

#box{
    background-color: #6a2c2c;
    border-radius: 10px;
    padding: 5px;
    font-size: smaller;
    color: white;
}
input{
    margin-top: 2px;
    margin-left: 2px;
    width: 80%;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 2px solid black;
}
button{
    height:56px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #6a2c2c;
    color: white;
}
button:hover{
    background-color: #8e3333;
}

form{
    align-items: center;
    justify-content: center;
}